html {
    font-size: 28px;
    opacity: 0.8;
}
body {
    margin: 0;
    padding: 10px;
    font-family: 'roboto', sans-serif;
}
h1,h2,h3{
    margin: 0;
}
.parent{
    width: 1280px;
    padding: 10px;
   }
.block:nth-child(odd) {
    width: 75%;
    }
.block:nth-child(even) {
        width: 50%;
}
.block {
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.5s ;
    min-height: 150px;
}
.block:hover {
    font-size: 56px;
}
.block1 {
    background: #55B3B9;}
.h1 {
    font-size: 2em;
    }
.h2{
    font-size: 1.5em;
   }
h3{
    font-size: 1em;
    font-family: 'Sail', cursive;
}
.block2 {
    background: #C56060;
}
.block3 {
    text-align:center ;
    background: #8FC091;
}
.block4 {
    background: #8F86AF;
}


